<header>
  <h2>dyeislife.dk</h2>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path, class: "link" %></li>
      <li><%= link_to "Shop", spree_path, class: "link" %></li>
      <li><%= link_to "Rules", rules_path, class: "link" %></li>
      <li><%= link_to "About", about_path, class: "link" %></li>
      <li><%= link_to "Tournaments", tournaments_path, class: "link" %></li>
    </ul>
  </nav>
</header>
